{
  "env": {
    "browser": false,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import"
  ],
  "rules": {
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "^@dfx\/(.*)"
        ]
      }
    ],
    //    "import/no-extraneous-dependencies": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "curly": "error",
    "@typescript-eslint/no-inferrable-types": "error",
    "no-console": "off",
    "import/prefer-default-export": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
